.rate_image{
    height: 100px;
    width: 100px;
}

.item_block_web{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;

}

.web_local_rate_block_box{
    background-color:  #f6faf5;
    margin-top: 50px;
}

.block_box{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(91, 91, 91);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

